[Unit]
Description=People counter ingestion demo service to continuously take pictures
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=iotadmin
ExecStart=/usr/bin/python3 /opt/vmware/people-counter-ingestion-service/image_capture_daemon.py -d /var/www/pictures

[Install]
WantedBy=multi-user.target