MQTT_USERNAME=CHANGE_ME
MQTT_PASSWORD=CHANGE_ME
MQTT_HOSTNAME=CHANGE_ME
MQTT_PORT=CHANGE_ME
PULSE_DEVICE_ID=CHANGE_ME
OBJECT_STORE_HOSTNAME=CHANGE_ME
OBJECT_STORE_PORT=CHANGE_ME
OBJECT_STORE_ACCESS_KEY=CHANGE_ME
OBJECT_STORE_SECRET_KEY=CHANGE_ME
OBJECT_STORE_BUCKET_NAME=people-counter-images
OBJECT_STORE_HTTPS_ENABLED=false
