[Unit]
Description=IP address manager service timer
After=network.target

[Timer]
OnUnitActiveSec={{ip_address_manager_on_unit_active_sec}}
OnBootSec={{ip_address_manager_on_boot_sec}}

[Install]
WantedBy=timers.target